<div class="container">
    <div class="content">
      <h1 class="title"><strong>Order Summary</strong></h1>
        <div class="info">
            <label>Name</label>
            <span>{{order.name}}</span>

            <label>Phone Number</label>
            <span>{{order.phone_number}}</span>

        </div>
      <table>
        <tr>
          <td colspan="5">
            <h3>Order Items:</h3>
          </td>
        </tr>
        <tr *ngFor="let item of order.products">
          <td>
              <img [src]="item.food.photo" />
          </td>
          <td>
            {{item.food.dishName}}
          </td>
          <td>
            {{item.food.newPrice | currency}}
          </td>
          <td>
            {{item.quantity}}
          </td>
          <td>
            Pickup between {{item.food.pickupStartTime}} - {{item.food.pickupEndTime}}
          </td>
          <td>
            {{item.price | currency}}
          </td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td>
            <strong>
              Total :
            </strong>
          </td>
          <td>
            <strong>
              {{order.totalPayment | currency}}
            </strong>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="map">
      <h1 class="title"><strong>Restaurant Address</strong></h1>
      <div class="map-container">
        <iframe
          width="200%"
          height="300"
          frameborder="0"
          style="border:0"
          [src]="mapUrl"
          allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>

  <div class="payment-method">
    <h3>Select Payment Method:</h3>
    <label>
      <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="card" (change)="checkPaymentMethod()" [checked]="selectedPaymentMethod === 'card' && restaurant.paymentMethod === 'Card Only'"> 
      Pay by Card & Just Collect
    </label>
    <label>
      <input type="radio" name="paymentMethod" [(ngModel)]="selectedPaymentMethod" value="cash" [disabled]="restaurant.paymentMethod === 'Card Only'" (change)="checkPaymentMethod()" [checked]="selectedPaymentMethod === 'cash' && restaurant.paymentMethod !== 'Card Only'">
      Reserve & Pay Cash at Location
    </label>
  </div>

  <div class="buttons-container">
    <ng-container *ngIf="selectedPaymentMethod === 'cash'">
      <button (click)="confirmReservation()">Confirm Reservation</button>
    </ng-container>
    <ng-container *ngIf="selectedPaymentMethod === 'card'">
      <paypal-button [order]="order">

      </paypal-button>
    </ng-container>
  </div>
  
  
  
  