.title {
    margin-top: 10px;
  }

  table{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3{
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    color: grey;
  }
  
  td{
    height: 3rem;
  }
  
  td img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100rem;
  }

  .container{
    margin-top: 1rem;
    display: flex;
    margin: 0 2rem 2rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .content{
    width: 40rem;
    margin-right: 3rem;
    margin-left: -10rem;
    margin-top: 2rem;
  }
  
  .content,form{
    display: flex;
    flex-direction: column;
  }
  
  .map-container {
    width: 200%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .map {
    margin-top: 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .info label {
    font-weight: bold;
  }
  
  .info span {
    margin-left: 5px;
  }

  .payment-method {
    margin-left: 5rem;
  }
  
  .payment-method h3 {
    
    margin-left: 0.3rem;
    color: grey;
  }
  
  .payment-method label {
    display: block;
    margin-top: 0.5rem;
  }
  
  .payment-method input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  .payment-method input[type="radio"]:checked + label {
    font-weight: bold;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: -20px 
  }
  
  .buttons-container button {
    color: white;
    background-color: #e72929;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttons-container button:hover {
    background-color: #d71e1e;
  }

  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../../../assets/image/wallpaper.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  html, body {
    min-height: 90vh;
    margin: 0;
    padding: 0;
  }

  .info, .payment-method {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-method {
    margin-left: 5rem;
    max-width: 25%;
  }

  .info label, .payment-method label {
    color: #333;
  }  