.container {
  margin-top: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey !important;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #673AB7;
  border-color: #673AB7;
}

.btn-primary:hover {
  background-color: #673AB7;
  border-color: #673AB7;
}

.btn-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-success:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

.w-48 {
  width: 48%;
}

.ml-2 {
  margin-left: 2%;
}

.modal {
  display: none;
}

.modal.d-block {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
