.forgot-password {
    color: #000;
    cursor: pointer;
    transition: color 0.3s;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../assets/image/wallpaper.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  