.site-name {
    font-size: 24px;
    font-weight: bold;
  }

  .mat-toolbar-row {
    padding-left: 16px;
    padding-right: 16px;
  }

  button {
    margin: 10px;
  }

  .welcome {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../../../assets/image/wallpaper.svg") !important;
    background-size: cover !important;
    min-height: 50px !important;
    height: 14rem !important;
    width: 100%;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    color: black;
    font-family: sans-serif;
  }
  
  .welcome-text {
    font-size: xxx-large;
    color: black;
    font-family: sans-serif;
    min-height: 50px !important;
    height: 50px !important
  }
  
  .steps {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .step-img {
    width: 5rem;
  }
  
  .step-title {
    font-family: sans-serif;
  }
  
  .step-description {
    margin-top: 0.5rem;
    width: 20rem;
    text-align: justify;
    font-family: sans-serif;
  }
  
  
  @media only screen and (max-width: 1300px) {
    .steps {
      padding: 5rem 5rem !important;
    }
  }

  .diagram-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    
  }
  
  .diagram-container > img {
    width: 50%;
  }

