<div class="welcome">
    <span class="welcome-text">Welcome to PlateSaver!</span>
    <span>Let's reduce food waste together!</span>
  </div>
  
  <div class="steps">
    <div class="step-container">
      <img src="./assets/icons/browser-website-svgrepo-com.svg" class="step-img" alt="Browse">
      <span class="step-title">Browse Deals</span>
      <span class="step-description">
        Explore discounted food items from your favorite restaurants. Check the deals page to see the restaurants and products that are available.
      </span>
    </div>
  
    <div class="step-container">
      <img src="./assets/icons/buy-svgrepo-com2.svg" class="step-img" alt="Reserve">
      <span class="step-title">Reserve Your Meal</span>
      <span class="step-description">
        Reserve or buy meals, but be aware that you will need to pickup the food on your own at a certain interval of hours. You will receive also a confirmation email with the pickup details.
      </span>
    </div>
  
    <div class="step-container">
      <img src="./assets/icons/pickup-svgrepo-com.svg" class="step-img" alt="Pick Up">
      <span class="step-title">Pick Up & Enjoy</span>
      <span class="step-description">
        Head to the restaurant at the scheduled time, show your reservation, and enjoy your meal. Save money and reduce waste!
      </span>
    </div>
  </div>