<h1 mat-dialog-title>Create Dish</h1>
<form [formGroup]="dishForm" (ngSubmit)="submitForm()">
  <div mat-dialog-content>
    <h2>Basic Information</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Dish Name" formControlName="dishName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="Pizza">Pizza</mat-option>
        <mat-option value="Shaorma">Shaorma</mat-option>
        <mat-option value="Crispy">Crispy</mat-option>
        <mat-option value="Mistery Box">Mistery Box</mat-option>
      </mat-select>
    </mat-form-field>
    
    <h2>Dietary and Ingredient Information</h2>
    <mat-form-field>
      <mat-label>Dietary Information</mat-label>
      <mat-select formControlName="dietaryInfo">
        <mat-option value="Regular">Regular</mat-option>
        <mat-option value="Vegetarian">Vegetarian</mat-option>
        <mat-option value="Vegan">Vegan</mat-option>
        <mat-option value="Gluten-free">Gluten-free</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <textarea matInput placeholder="Ingredients" formControlName="ingredients"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Allergens</mat-label>
      <input matInput placeholder="Allergens" formControlName="allergens">
    </mat-form-field>

    <h2>Pricing and Quantity</h2>
    <mat-form-field>
      <mat-label>Old Price</mat-label>
      <input matInput type="number" placeholder="Old Price" formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-label>New Price</mat-label>
      <input matInput type="number" placeholder="New Price" formControlName="newPrice">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput type="number" placeholder="Quantity" formControlName="quantity">
    </mat-form-field>


    <h2>Pickup Times</h2>
    <mat-form-field>
      <mat-label>Pickup Start Time</mat-label>
      <input matInput type="time" placeholder="Pickup Start Time" formControlName="pickupStartTime">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pickup End Time</mat-label>
      <input matInput type="time" placeholder="Pickup End Time" formControlName="pickupEndTime">
    </mat-form-field>

    <h2>Upload Dish Image</h2>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="dishForm.invalid">Submit</button>
  </div>
</form>
