<div class="secondRow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button mat-raised-button class="add-restaurant-button" *ngIf="currentUserRole=='superadmin'" (click)="addRestaurant()">Add Restaurant</button>
</div>

<div class="restaurant-list">
    <div *ngIf="restaurants.length === 0" class="no-restaurants">No restaurants found</div>
    <div class="restaurant-card" *ngFor="let restaurant of restaurants">
        <mat-card (click)="openRestaurantPage(restaurant.name)">
            <img mat-card-image [src]="restaurant.photo" alt="Restaurant Image">
            <mat-card-content>
                <h2 mat-card-title>{{ restaurant.name }}</h2>
                <p mat-card-subtitle>{{ restaurant.description }}</p>
                <div class="info">
                    <div class="address">
                        <strong>Address:</strong>
                        <p>{{ restaurant.address.street }}, {{ restaurant.address.city }}, {{ restaurant.address.state
                            }}</p>
                    </div>
                    <div class="contact">
                        <strong>Contact:</strong>
                        <p>{{ restaurant.contact.phone }}, {{ restaurant.contact.email }}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>