html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../assets/image/wallpaper.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.page-header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.page-header h1 {
  margin: 0;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.add-restaurant-button {
  text-align: center;
  margin: 10px;
  
}

.restaurant-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  height: 100%;
  flex-grow: 1;
}

.restaurant-card {
  margin: 20px;
  width: 300px;
}

mat-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: white;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 10px;
  margin-bottom: -10px;
}

.disabled-card {
  opacity: 0.5;
  pointer-events: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-container {
  position: absolute;
  left: 16px;
}

.page-header {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.page-title {
  margin: 0 auto;
  text-align: center;
}

