<body>
<div class="page-header flex-container">
    <div class="button-container" *ngIf="currentUserRole=='superadmin'">
        <button mat-raised-button color="primary" class="add-restaurant-button" (click)="addRestaurant()">Add Restaurant</button>
    </div>
    <h1 class="page-title">Restaurant Deals</h1>
</div>

<div class="restaurant-list">
    <mat-spinner *ngIf="!isDataLoaded"></mat-spinner>
    <div *ngIf="restaurants.length === 0" class="no-restaurants">No restaurants found</div>
    <div class="restaurant-card" *ngFor="let restaurant of restaurants">
        <mat-card (click)="openRestaurantPage(restaurant.name)" [ngClass]="{'disabled-card': getDishesCount(restaurant) === 0 && currentUserRole === 'user'}">
            <img mat-card-image [src]="restaurant.photo" alt="Restaurant Image">
            <mat-card-content class="content">
                <h2 mat-card-title>{{ restaurant.name }}</h2>
                <p>{{ getDishesCount(restaurant) }} Products Available</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" *ngIf="currentUserRole=='superadmin' || currentUserEmail==restaurant.owner" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">Actions</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editRestaurant(restaurant)">
                        <mat-icon>edit</mat-icon><span>Edit Restaurant</span></button>
                    <button mat-menu-item (click)="getDishesbyRestaurantNameForDelete(restaurant)">
                        <mat-icon>delete</mat-icon><span>Delete Restaurant</span></button>
                </mat-menu>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</body>
