.secondRow {
    z-index: 999;
    background-color: white;
    height: 52px;
    padding-left: 15px;
  }

  .page-header {
    padding: 20px;
    text-align: center;
  }
  
  .page-header h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }

  .add-user-button {
    text-align: center;
    margin: 10px;
  }

.table-container {
    max-width: 100% !important;
    margin: 20px auto !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  
  .mat-header-cell {
    font-weight: bold !important;
    text-align: center !important;
  }
  
  .mat-cell {
    text-align: center !important;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 8px 16px !important;
  }

  .paginator-container {
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index: 1000;
  }
  
  .paginator {
    display: flex;
    justify-content: flex-end;
  }

  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../assets/image/wallpaper.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  html, body {
    height: 90vh;
    margin: 0;
    padding: 0;
  }


  