.site-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .mat-toolbar-row {
    padding-left: 16px;
    padding-right: 16px;
  }

  button {
    margin: 10px;
  }

  .footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    max-height: 10%;
    position: fixed;
    z-index: 999;
  }

  .cart-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.cart-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
    font-weight: bold;
    min-width: 18px;
    text-align: center;
}




